<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control is-invalid" formControlName="tema"
          [ngClass]="{'is-invalid': f.tema.errors && f.tema.touched }"
          placeholder="Insira o tema">
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatório
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control is-invalid" formControlName="local"
          [ngClass]="{'is-invalid': f.local.errors && f.local.touched }">
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e hora</label>
          <input type="date" class="form-control is-invalid" formControlName="dataEvento"
          [ngClass]="{'is-invalid': f.dataEvento.errors && f.dataEvento.touched }">
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
            Data e hora são obrigatórios
          </div>
          <div *ngIf="f.dataEvento.errors?.validDate" class="invalid-feedback">
            Data inválida
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Nº de pessoas</label>
          <input type="number" class="form-control is-invalid" formControlName="qtdPessoas"
          [ngClass]="{'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched }">
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            Quantidade de pessoas é obrigatório
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
            Máximo de 1200000 pessoas
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input type="text" class="form-control is-invalid" formControlName="telefone" placeholder="(00) 90000-0000"
          [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched }">
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>E-mail</label>
          <input type="text" class="form-control is-invalid" formControlName="email" placeholder="E-mail"
          [ngClass]="{'is-invalid': f.email.errors && f.email.touched }">
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            E-mail é obrigatório
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            E-mail inválido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control is-invalid" formControlName="imagemURL" placeholder="Imagem"
          [ngClass]="{'is-invalid': f.imagemURL.errors && f.imagemURL.touched }">
          <div *ngIf="f.imagemURL.errors?.required" class="invalid-feedback">
            Imagem é obrigatória
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar evento
        </button>
      </div>
    </div>
  </form>
</div>
