<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de usuário</h1>
      <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
    </div>
  </div>
  <div class="col-md-6">
    <form [formGroup]="form" class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro nome</label>
          <input type="text" class="form-control is-invalid" formControlName="primeiroNome"
          [ngClass]="cssValidator(f.primeiroNome)"
          placeholder="Insira o primeiro nome">
          <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">
            Primeiro nome é obrigatório
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control is-invalid" formControlName="ultimoNome"
          [ngClass]="cssValidator(f.ultimoNome)"
          placeholder="Insira o último nome">
          <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">
            Último nome é obrigatório
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">E-mail:</label>
        <input class="form-control is-invalid" type="text" formControlName="email"
        [ngClass]="cssValidator(f.email)"
        placeholder="Insira o e-mail">
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
          E-mail é obrigatório
        </div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
          E-mail inválido
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuário:</label>
        <input class="form-control is-invalid" type="text" formControlName="userName"
        [ngClass]="cssValidator(f.userName)"
        placeholder="Insira o nome de usuário">
        <div *ngIf="f.userName.errors?.required" class="invalid-feedback">
          Nome de usuário é obrigatório
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control is-invalid" type="password" formControlName="senha"
          [ngClass]="cssValidator(f.senha)"
          placeholder="Digite uma senha">
          <div *ngIf="f.senha.errors?.required" class="invalid-feedback">
            Senha é obrigatória
          </div>
          <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">
            Senha precisa conter mais de 5 caracteres
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar senha:</label>
          <input class="form-control is-invalid" type="password" formControlName="confirmeSenha"[ngClass]="cssValidator(f.confirmeSenha)"
          placeholder="Confirme a senha">
          <div *ngIf="f.confirmeSenha.errors?.required" class="invalid-feedback">
            Confirme a senha!
          </div>
          <div *ngIf="f.confirmeSenha.errors?.mustMatch" class="invalid-feedback">
            A confirmação precisa ser igual a senha!
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" [disabled]="!form.valid">
            Registrar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou cadastrado
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
